@import '../base/variables';
@import '../base/listas';
@import '../base/extends';
@import '../base/mixin';
@import '../base/mapas';


.logo{

    font-family: $font-family;
    color: map-get($boton, color-text);
    text-align: center;
    &:hover{
        animation: changeColor 2s;
    }
    @keyframes changeColor{
        0%{
            background-color: nth($colores, 1);
        }
        10%{
            background-color: nth($colores, 2);
        }
        20%{
            background-color: nth($colores, 3);
        }
        30%{
            background-color: nth($colores, 4);
        }
        40%{
            background-color: nth($colores, 5);
        }
        50%{
            background-color: nth($colores, 6);
        }
        60%{
            background-color: nth($colores, 7);
        }
        70%{
            background-color: nth($colores, 8);
        }
        80%{
            background-color: nth($colores, 9);
        }
        90%{
            background-color: nth($colores, 10);
        }
       
        100%{
            background-color: nth($colores, 11);
        }
    
    }
}
/*extend*/
.lista{
    padding-top: 10px;
    @extend %flex;
    list-style: none;
    text-decoration: none;
    &:hover{
        animation: changeColor 2s;
    }
    @keyframes changeColor{
        0%{
            background-color: #D0D3D4;
        }
        10%{
            background-color: red;
        }
        20%{
            background-color: yellow;
        }
        30%{
            background-color: aqua;
        }
        40%{
            background-color: violet;
        }
        50%{
            background-color: blue;
        }
        60%{
            background-color: green;
        }
        70%{
            background-color:pink;
        }
        80%{
            background-color:chocolate
        }
        90%{
            background-color: gold;
        }
       
        100%{
            background-color: #7B7D7D ;
        }
    
    }
    
}
/*extend*/
.ul-lista{
    color: #ff0000;
    @extend %lista;
}

/*main index*/

.h1-carousel{
    color: black;
    @include font(Courier)
}

.h2-carousel{
    @include font(Franklin);
    color:black;
}


/*footer index*/

.footer{
    @include flex(flex, center);
    @include font(Franklin)
}

.footer-t{
    list-style: none;
    @include font(Courier)
}